@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   --font-mono: 'Fira Mono', monospace;
   --font-custom: 'Varela', sans-serif;
   --font-size-tiny: 8px;
   --font-size-small: 12px;
   --font-size-regular: 14px;
   --font-size-big: 16px;
   --weight-thin: 300;
   --weight-regular: 400;
   --weight-thick: 700;
   --pure-white: #ffffff;
   --white: #fefefe;
   --backround-color: #efefef;
   --accent-color: rgb(11, 158, 255);
   --heading-color: rgba(0, 0, 0, 0.7);
   --text-color: #444444;
   --icon-color: #666666;
   --light-gray: #eee;
   --dark-background: #333;
   --background-without-opacity: rgba(255, 255, 255, 0.7);
   --column-width: 42rem;
   --column-margin-top: 4rem;
   --pagination-button-size: 40px;
}

body {
   min-height: 100vh;
   margin: 0;
   background-color: var(--backround-color);
}

body::before {
   content: '';
   width: 80vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 10vw;
   z-index: -1;
   background: radial-gradient(
      50% 50% at 50% 50%,
      var(--pure-white) 0%,
      rgba(255, 255, 255, 0) 100%
   );
   opacity: 0.05;
}

#svelte {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

h1,
h2,
p {
   font-weight: 400;
   color: var(--heading-color);
}

p {
   line-height: 1.5;
}

a {
   color: var(--accent-color);
   text-decoration: none;
}

h1 {
   font-size: 2rem;
   text-align: center;
}

h2 {
   font-size: 1rem;
}

pre {
   font-size: 16px;
   font-family: var(--font-mono);
   background-color: rgba(255, 255, 255, 0.45);
   border-radius: 3px;
   box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
   padding: 0.5em;
   overflow-x: auto;
   color: var(--text-color);
}

input,
button {
   font-size: inherit;
   font-family: inherit;
}

button:focus:not(:focus-visible) {
   outline: none;
}
